*.resources
Daiz.NES.Reuben.ProjectManagement/obj/Debug/Daiz.NES.Reuben.ProjectManagement.csproj.FileListAbsolute.txt
Daiz.NES.Reuben.ProjectManagement/obj/Release/Daiz.NES.Reuben.ProjectManagement.csproj.FileListAbsolute.txt
Reuben/bin/
Reuben/obj/
